.eth-rapido-ethmember-hint{
    padding: 1em;
    /*position: absolute;
    height: 100px;
    top:0;
    left:0;*/
}
nde-ngrs-offer{
    position: relative;
}
.nde-ngrs-offer-drawer-offer-container{
    height: auto!important;
    padding-top: 100px;
}
