.eth-rapido-ethmember-hint{
    /*position: absolute;
    height: 100px;
    top:0;
    left:0;*/
    background-color: var(--lightBG);
    background-color: #FEF3BE;
    margin: 1rem;
    padding: 1em;    
}
nde-ngrs-offer{
    position: relative;
}
.nde-ngrs-offer-drawer-offer-container{
    height: auto!important;
    padding-top: 100px;
}
