.eth-rapido-ethmember-hint{
    background-color: #FEF3BE;
    margin: 0.3rem 0;
    padding: 1em;    
    border-radius: 12px;
    font: var(--sys-body-medium) !important;
}
.nde-ngrs-get-it-other-location-one-offer {
    background-color: transparent!important;
}
.nde-ngrs-get-it-other-location-one-offer nde-ngrs-offer-drawer {
    background-color: var(--lightBG);
}
.nde-ngrs-offer-drawer-offer-container{
    height: auto!important;
    padding-top: 100px;
}
