.eth-location{
    background-color: var(--lightBG);
    margin-top: -1.5rem;
    padding: 0.5rem;    
}
.eth-location-inner{
    border: 2px solid var(--border);
    border-radius: .5rem;
    padding: 1rem 24px;
}