@if(url$ | async; as url){
    @if(translations$ | async; as t){
        <div class="eth-ill-link">
            <div>{{ t.t1 }}</div>
            <div>
                <span>{{ t.t2 }} </span>
                <a [href]="url" target="_blank" rel="noopener" [attr.aria-label]="t.linkText + t.newWindow">
                    <span>{{ t.linkText }}</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                        <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                    </svg>
                </a>
                <span>{{ t.t3 }}</span>
            </div>
        </div>
    }
}