@if(showWarning$ | async) {
    <div role="alert" class="eth-idp-warning">
        <p>
            {{'eth.idpWarning.text1' | translate}}
            <a target="_blank" rel="noopener" [href]="'eth.idpWarning.link1' | translate" [attr.aria-label]="('eth.idpWarning.linkText1' | translate) + ('nui.aria.newWindow' | translate)">
                <span>{{'eth.idpWarning.linkText1' | translate}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>
            </a>{{'eth.idpWarning.text2' | translate}}
        </p>
        <p>
            <a target="_blank" rel="noopener" [href]="'eth.idpWarning.link2' | translate" [attr.aria-label]="('eth.idpWarning.linkText2' | translate) + ('nui.aria.newWindow' | translate)">
                <span>  {{'eth.idpWarning.linkText2' | translate}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>
            </a>
        </p>
    </div>
}