
@if(showWarning$ | async) {
    <div role="alert" class="eth-idp-warning">
        <p>
            {{'eth.idpWarning.text1' | safeTranslate | async}}
            <a target="_blank" rel="noopener" [href]="'eth.idpWarning.link1' | safeTranslate | async" [attr.aria-label]="(('eth.idpWarning.linkText1' | safeTranslate | async) ?? '') + (('nui.aria.newWindow' | safeTranslate | async) ?? '')">
                <span>{{'eth.idpWarning.linkText1' | safeTranslate | async}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>
            </a>{{'eth.idpWarning.text2' | safeTranslate | async}}
        </p>
        <p>
            <a target="_blank" rel="noopener" [href]="'eth.idpWarning.link2' | safeTranslate | async" [attr.aria-label]="(('eth.idpWarning.linkText2' | safeTranslate | async) ?? '') + (('nui.aria.newWindow' | safeTranslate | async) ?? '')">
                <span>  {{'eth.idpWarning.linkText2' | safeTranslate | async}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                    <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>
            </a>
        </p>
    </div>
}