 .eth-offcampus-warning{
    color: var(--md-sys-color-on-background);    
    background-color: var(--md-sys-color-background);  
    font-size: var(--mat-expansion-container-text-size, var(--mat-sys-body-large-size));     
    padding: 1.2rem;
    border-radius: .5rem;
    max-width: 100%;
    margin-block-end: 2rem;        
 }
 .eth-offcampus-warning a{
    text-decoration: none;
    color: var(--sys-primary);
    display: inline-flex;
}
.eth-offcampus-warning a:hover, .eth-offcampus-warning a:focus{
    text-decoration: underline;
}
.eth-offcampus-warning svg{
    height: 1.25rem;
    width: 1.25rem;
    align-self: center;    
    align-items: center;
    justify-content: center;    
    fill: var(--sys-primary);
}