@if (links$ | async; as links) {
    @if (links.length > 0) {
        <div class="eth-compose-erara">
        @for (link of links; track link.url) {
            <div>
                @if(link.external){
                    <a [href]="link.url" target="_blank" rel="noopener" [attr.aria-label]="link.label + (labelOpenInNew$ | async)">
                        <span>{{ link.label }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                          <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                        </svg>                     
                    </a>
                }
                @else {
                    <a [href]="link.url">
                        <span>{{ link.label }}</span>
                    </a>
                }
            </div>
        }
        </div>
    }
}