.eth-location-hint{
    background-color: var(--lightBG);
    background-color: #FEF3BE;
    margin-top: 1rem;
    padding: 1em;
}
.eth-location-hint a{
    color: var(--sys-primary);
    text-decoration: none;
}
.eth-location-hint a:focus, .eth-location-hint a:hover {
    text-decoration: underline;
}
