.eth-location-hint{
    background-color: var(--lightBG);
    margin: 0;
    padding: 1rem;
    border-radius: 0 0 .5rem .5rem;
    background-color: var(--sys-inverse-on-surface);
}
.eth-location-hint a{
    color: var(--sys-primary);
    text-decoration: none;
}
.eth-location-hint a:focus, .eth-location-hint a:hover {
    text-decoration: underline;
}
