/* language switch */
mat-option[aria-label='Français']{
    display: none; 
}
mat-option[aria-label='Italiano']{ 
    display: none; 
}
/* online quicklink button */
.eth-quicklink-expand-button.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
    border-radius: unset;
}
/* logo */
@media (max-width: 600px) {
    nde-logo img{
        max-width: 100px;
        height: auto;
    }
}