/* Override background image for petrol design */
body.design-petrol .top-bar-background-image {
    /* Use shorthand to reset color/image/repeat/position */
    background: none !important;
}

/* Override background overlay opacity and color */
body.design-petrol .custom-search-bar-container .background-overlay {
    opacity: 1.0 !important;
    background-color: #007894 !important;
    /* Example: Petrol. Change to your desired color */
}

/* Hide the header and footer component */
body.design-petrol nde-header {
    display: none !important;
}

body.design-petrol nde-footer {
    display: none !important;
}

/* Hide the Userlike chatbot widget 
div[data-test-id="userlike-container"] {
    display: none !important;
}*/