/* Override background image for red design */
body.design-red .top-bar-background-image {
    /* Use shorthand to reset color/image/repeat/position */
    background: none !important;
}

/* Override background overlay opacity and color */
body.design-red .custom-search-bar-container .background-overlay {
    opacity: 1.0 !important;
    background-color: #B7352D !important;
    /* Example: Red. Change to your desired color */
}

/* Hide the header and footer component */
body.design-red nde-header {
    display: none !important;
}

body.design-red nde-footer {
    display: none !important;
}

/* Hide the Userlike chatbot widget */
div[data-test-id="userlike-container"] {
    display: none !important;
}