.eth-fulltext-link{
    color: var(--sys-primary);
    font-size: var(--mdc-text-button-label-text-size, var(--mat-sys-label-large-size));
    text-decoration: none;
}
.eth-fulltext-link:hover, .eth-fulltext-link:focus {
    box-shadow: inset 0 -2px 0 0 var(--sys-primary);
}