@if (news$ | async; as news) {
  <div class="eth-news-container">
    <h2 class="about-text-title mat-headline-large">{{'eth.bibNews.heading' | safeTranslate | async}}</h2>
    <div class="eth-all-news">
      @for (news of news.entries; track news.link) {
        <div class="eth-news">
          <header class="flex-column gap-1">
            <a target="_blank" rel="noopener external" [href]="news.link">
              <h3 class="mat-title eth-news-headline" role="heading" aria-level="3">
                {{ news.title }}
              </h3>
            </a>
          </header>
          <article class="eth-news-content">
            <a target="_blank" rel="noopener external" [href]="news.link" class="eth-news-image-link" aria-hidden="true" tabindex="-1">
              @if (news.image) {
                <img [src]="news.image" alt="">
              }
            </a>
            <p>
              <a class="eth-news-teaser" target="_blank" rel="noopener external" [href]="news.link">
                {{ news.lead }}
              </a>
            </p>
          </article>
        </div>
      }
    </div>
    <div class="eth-news-footer">
      <a target="_blank" rel="noopener external"
         href="https://library.ethz.ch/news-und-kurse/news-swisscovery.html">
        <span>{{'eth.bibNews.all' | safeTranslate | async}}</span>
      </a>
    </div>
  </div>
}
