<mat-card appearance="outlined" class="mat-mdc-card mdc-card mat-mdc-card-outlined mdc-card--outlined eth-change-adress">
    <mat-card-header class="mat-mdc-card-header">
        <div class="mat-mdc-card-header-text">
            <mat-card-title class="mat-mdc-card-title mat-title-medium"><h3>{{'eth.changeAdress.heading' | translate}}</h3></mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="mat-mdc-card-content">
      <div>
        <h4>{{'eth.changeAdress.ethMembers' | translate}}</h4> 
        <span>{{'eth.changeAdress.ethMembersIntro' | translate}}</span>
        <ol>
          <li>
            {{'eth.changeAdress.ethMembersStep1' | translate}}
            <div>
              <a target="_blank" rel="noopener" [href]="'eth.changeAdress.ethMembersStep1Url' | translate" [attr.aria-label]="('eth.changeAdress.ethMembersStep1Url' | translate) + ('nui.aria.newWindow' | translate)">
                {{'eth.changeAdress.ethMembersStep1Url' | translate}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                  <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>                
              </a>
            </div>
          </li>
          <li>
            {{'eth.changeAdress.ethMembersStep2' | translate}}
            <div>
              <a target="_blank" rel="noopener" [href]="'eth.changeAdress.ethMembersStep2Url' | translate" [attr.aria-label]="('eth.changeAdress.ethMembersStep2Url' | translate) + ('nui.aria.newWindow' | translate)">
                {{'eth.changeAdress.ethMembersStep2Url' | translate}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                  <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                </svg>                     
              </a>
            </div>
          </li>
        </ol>
      </div>
      <mat-divider role="separator" tabindex="-1" aria-hidden="true" class="mat-divider mat-divider-horizontal ng-star-inserted" aria-orientation="horizontal"></mat-divider>
      <div>
        <h4>{{'eth.changeAdress.otherCustomers' | translate}}</h4>
        <span>{{'eth.changeAdress.otherCustomersIntro' | translate}}</span>
        <div>
          <a target="_blank" rel="noopener" [href]="'eth.changeAdress.otherCustomersUrl' | translate" [attr.aria-label]="('eth.changeAdress.otherCustomersUrl' | translate) + ('nui.aria.newWindow' | translate)">
            {{'eth.changeAdress.otherCustomersUrl' | translate}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
              <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
            </svg>                 
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  
