.eth-request-hint-container{
    font: var(--sys-body-medium);      
    border-radius: .5rem;
    padding:  10px 24px;
    background-color: var(--slsp-color-background);  
    background-color: #FEF3BE;
    color: var(--slsp-color-on-background);    
}