<!--a href="https://library.ethz.ch/recherchieren-und-nutzen/ausleihen-und-nutzen/swisscovery-hilfe-auf-einen-blick.html#r" target="_blank" class="eth-registration-link" [attr.aria-label]="('eth.registrationLink.linkText' | translate) + ('nui.aria.newWindow' | translate)">
    {{'eth.registrationLink.linkText' | translate}}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
        <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
    </svg>    
</a-->