@import "~leaflet/dist/leaflet.css";
.eth-location-page{
    width: 100%;
    margin: 0 auto;
    margin-block: 1rem;
}
@media (min-width: 1280px) {
    .eth-location-page{
        width: clamp(1088px, 85%, 1368px);
    }
}
.eth-location-page .mat-expansion-panel.eth-expansion-panel {
    background-color: white;
    box-shadow: none!important;
}
.eth-location-page .eth-expansion-panel-header{
    padding-block: .3rem!important;
    padding-inline: 1rem!important;
}
.eth-location-page .eth-expansion-panel-header span{
  display: flex;
  align-items: center;
  justify-content: space-between;    
  margin-right: 0;
}
.eth-location-page .eth-expansion-panel-header mat-panel-title {
  flex: 1 1 auto;
  min-width: 0;
}
.eth-location-page .eth-expansion-panel-header h2 {
  font: var(--sys-title-medium); 
  margin: 0;
}
.eth-location-page .mat-expansion-panel-header-description.eth-expansion-panel-description {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0;
  margin-left: 1rem;  
}

.eth-location-page .eth-expansion-panel-description mat-icon.mat-icon{
    width: 24px;
    height: 24px;    
    color: var(--sys-primary);
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    overflow: hidden;    
}
/*
::ng-deep .mat-expansion-panel-content {
}
*/
.eth-location-page .eth-expansion-panel > .mat-expansion-panel-content{
    height: 0;
    margin-bottom: 0;
}
.eth-location-page .eth-expansion-panel.mat-expanded > .mat-expansion-panel-content {
    visibility: visible;
    height: auto;
    margin-bottom: 1rem;    
}
.eth-location-page a{
    color: var(--sys-primary);
    font: var(--sys-body-medium);
}
.eth-location-page .eth-person__links-hint{
    color: var(--sys-on-background);
    font: var(--sys-body-medium);
}
.eth-location-page .mat-divider {
    display: block;
    margin: 0;
    border-top-style: solid;
    border-top-color: var(--mat-divider-color, var(--mat-sys-outline));
    border-top-width: var(--mat-divider-width, 1px);
}
.eth-location-page a{
    color: var(--sys-primary);
    font: var(--sys-body-medium);
    text-decoration: none;
}
.eth-location-page a:hover, .eth-location-page a:focus {
    box-shadow: inset 0 -2px 0 0 var(--sys-primary);
    text-decoration: none;
}
.eth-location-page a svg.eth-open-in-new{
    height: 1rem;
    width: 1rem;
    margin-inline-start: .1rem;
    fill: var(--sys-primary);
    vertical-align: -0.2rem; 
}
.eth-location-intro{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-block: .75rem;
    font-size: 0.875rem;
    color: var(--mat-expansion-container-text-color, var(--mat-sys-on-surface));
}
.eth-location-image-container{
    position: relative;
}
.eth-location-image {
    width: 7.5rem;
    height: 7.5rem;
    min-width: 7.5rem;
    min-height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;    
}
.eth-location-copyright-button{
    position: absolute;
    top: 5.5rem;
    left: 0;
    color: var(--sys-primary);    
    height: 25px;
    width: 25px;
    background-color: var(--sys-surface-container-lowest);
    border-radius: 50%;
    fill: currentColor;
    border-width: 0;
    padding: 0;
}
.eth-location-copyright-hint{
    position: absolute;
    top: 4.9rem;
    left: 0;
    width: 350px;
    background-color: var(--whiteBG);
    border-radius: 1rem;
    padding: 1rem;
    font: var(--sys-body-medium);
    letter-spacing: var(--sys-body-medium-tracking);
    box-shadow: var(--mat-app-elevation-shadow-level-10, none);
}
.eth-location-page .map{
    height: 400px;
    margin-top: 2rem;
}
@media (min-width: 600px) {
    .eth-location-page .map{
        height: 600px;
    }
}
.eth-location-page .eth-map-info{
    max-width: 400px;
}
.eth-location-page .eth-map-info .eth-map-info-title{
    font-size: 1.2em;
    font-weight: bold;
}
.eth-location-page .eth-map-info .eth-map-info-hint{
    margin-top: 3em;
    font-weight:400;
}
.eth-location-page .map a{
    display: inline;
}
