@if (items$ | async; as items) {
  @if (items.length > 0) {
    <div class="eth-provenance-cards" role="region" aria-labelledby="ethProvenanceCards">
      <details open>
        <summary>
          <h4 id="ethProvenanceCards">Provenance marks ({{items.length}})</h4>
          <svg class="marker" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
            <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"></path>
          </svg>
        </summary>
        <ul role="list">
          @for (item of items; track item; let last = $last) {
            <li role="listitem">
              <div class="eth-provenance-card">
                <div class="eth-provenance-card__image-container">
                    <img class="eth-provenance-card__image" [attr.src]="'https://assets.ethz.sharedien.com/assets/api/' + item.id + '/thumbnail'" alt="{{ item.title }}">
                </div>
                <div class="eth-provenance-card__text">
                    @if (item.description) {
                        <h5><a [href]="'/nde'+item.url" (click)="navigate(item.url,$event)">{{ item.description }}</a></h5>
                    }
                    <div>Datierung: {{ item.eth_dating || 'Unbekannt' }}</div>
                    <div>
                        <a [href]="'https://ad-provenienz.e-pics.ethz.ch/#detail-asset=' + item.id" rel="noopener" target="_blank"  [attr.aria-label]="'Provenienz in E-Pics' + ('nui.aria.newWindow' | safeTranslate | async)">
                          <span>Provenienz in E-Pics</span>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 -960 960 960" aria-hidden="true" focusable="false">
                          <path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"></path>
                        </svg>
                        </a>
                    </div>
                    <div class="eth-entity-type-wrapper"><span class="entity-type">Provenance</span></div>
                </div>
              </div>
              @if (!last) {
                <mat-divider role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>
              }
            </li>
          }
        </ul>
      </details>
    </div>
  }
}
